Inventory-github.odt
self_assessment.pdf
Weekly Routine.ods
Design/Misc/
Design/Fonts/
Misc/Allemand/
Misc/Arts/
Misc/Cryptography/
Misc/Learning/
Misc/Math/
MIT/
Programming/API/
Programming/C#/
Programming/Linux/FileOrg.pdf
Programming/Python/Books/
Programming/Symfony/Security.odt
Stanford/Algorithms-DesignAndAnalysis/Books/
Stanford/Algorithms-DesignAndAnalysis/zPreview-Part2/
Stanford/MachineLearning/Week2/normalEquation.mp4
Stanford/MachineLearning/Week11/index.mp4
Stanford/MachineLearning/Week11/intro.mp4
**/Material

